@mixin books_page_dark {
  .title-special h2{
    color: $link-color-dark;
  }

  .book-list a{
    color: $fg-color-dark;
  }

  .bookcover{
    border: 2px solid $link-color-dark;
  }
  .layer-bookcover{
    background: $fg-color-dark;
  }
  #name{
    color: $bg-color-dark;
  }
  #writer{
    color: $bg-color-dark;
  }
}

body.colorscheme-dark {
  @include books_page_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include books_page_dark();
  }
}
