@mixin contact_page_dark {
  /* SOCIALS section */
  .social-icon {
    background-color: $alt-bg-color-dark;
  
    i {
      color: $fg-color-dark;
    }
  
    &:hover {
      background-color: $fg-color-dark;
      i {
        color: $link-color-dark;
      }
    }
  }

  /* JOIN NEWSLETTER banner */
  .form {
    border: 2px solid $link-color-dark;
    background-color: $alt-bg-color-dark;
    
    input {
      background-color: $fg-color-dark;
    }
    button {
      color: $bg-color-dark;
      background-color: $link-color-dark;
    }
  }

  .success-page {
    a {
      color: $bg-color-dark;
      background-color: $link-color-dark;
    }
  }
}

body.colorscheme-dark {
  @include contact_page_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include contact_page_dark();
  }
}
