/* SOCIALS section */
.social-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-bottom: 5rem;
}

.contacts-image {
  img {
    max-height: 38rem;
  }
}

.social-box {
  list-style-type: none;

  h5 {
    text-align: center;
    margin-top: 0;
    font-weight: 700;
  }
  a:hover {
    text-decoration: none;
  }

  h6 {
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-style: italic;
  }
}

.social-icon {
  border-radius: 50%;
  background-color: $alt-bg-color;
  position: relative;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $fg-color;
  }

  &:hover {
    background-color: $fg-color;
    i {
      color: $link-color;
    }
  }
}

/* single article per row (Mobile) */
@media only screen and (max-width: 760px) {
  .social-box {
    min-width: 14rem;
    margin: 1rem 0rem;

    h5 {
      font-size: 1.5rem;
      margin-bottom: 0rem;
    }
    h6 {
      font-size: 1.2rem;
    }
  }
  
  .social-icon {
    width: 7rem;
    height: 7rem;
    margin: 2rem auto 0.5rem auto;
  
    i {
      font-size: 3.5rem;
    }
  }
}
/* 2 articles side-by-side (Tablet) */
@media only screen and (min-width: 760px) and (max-width: 1152px) {
  .social-box {
    min-width: 16rem;
    margin: 1rem 0.5rem;

    h5 {
      font-size: 1.8rem;
      margin-bottom: 0.1rem;
    }
    h6 {
      font-size: 1.3rem;
    }
  }
  
  .social-icon {
    width: 8rem;
    height: 8rem;
    margin: 2rem auto 1rem auto;
  
    i {
      font-size: 4rem;
    }
  }
}
/* 3 articles side-by-side (Desktop) */
@media only screen and (min-width: 1152px) {
  .social-box {
    min-width: 18rem;
    margin: 1rem 0.5rem;

    h5 {
      margin-bottom: 0.6rem;
    }
    h6 {
      font-size: 1.4rem;
    }
  }
  
  .social-icon {
    width: 8rem;
    height: 8rem;
    margin: 2rem auto 1rem auto;
  
    i {
      font-size: 4rem;
    }
  }
}
/* end */

/* ##################################################### */

/* JOIN NEWSLETTER banner */
.form {
  max-width: 74rem;
  margin: auto;
  
  border: 2px solid $link-color;
  border-radius: 10px;
  background-color: $alt-bg-color;
  box-shadow: 0 10px 15px rgba(0,0,0,.4);

  text-align: center;
  
  h4 {
    margin: 3rem;
  }
  input {
    width: 80%;
    height: 4rem;
    border: none;
    border-radius: 4px;

    color: $fg-color;
    background-color: $bg-color;

    padding: 2rem;
    font-weight: 600;  
  }
  button {
    margin: 1rem auto 1rem auto;
    width: 80%;
    height: 4rem;
    border: none;
    border-radius: 4px;

    font-size: 2.2rem;
    font-weight: 600;
  
    color: $fg-color;
    background-color: $link-color;
    
    cursor: pointer;

    &:hover {
      filter: brightness(107%);
      text-decoration: underline;
    }
    &:active {
      filter: brightness(93%);
      text-decoration: underline;
    }
  }
  p {
    margin: 1rem auto 2.5rem auto;
    width: 75%;
    font-size: 1.4rem;
    line-height: normal;
    font-style: italic;

    @media only screen and (max-width: 760px) {
      font-size: 1.2rem;
    }
  }
}

/* Successfully joined the mailing list */
.success-page {
  text-align: center;

  img {
    margin-top: 5rem;
    max-height: 40rem;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 6rem;
  }

  a {
    font-size: 2.2rem;
    font-weight: 600;
    color: $bg-color;

    background-color: $link-color;
    border-radius: 4px;
    padding: 0.7rem 3rem;
  }

  /* Mobile Styles */
  @media only screen and (max-width: 760px) {
    
    img {
      margin-top: 0;
      height: 32rem;
    }
    h1 {
      margin: 0 auto;
    }
    h4 {
      margin-bottom: 4rem;
    }
  }
}

/* end */
