/* ARTICLES: */
.title-dimension {
  font-size: 4.2rem;
  line-height: 4.6rem;

  @media only screen and (max-width: 768px) {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}
.article-box {
  header {
    margin: auto;
    max-width: 74rem;
  }
}
.article-content {
  max-width: 74rem;
  margin: 5rem auto -3rem auto;
}
#id-articles-list {
  margin-top: 9rem;
}

  /* Post meta: date, reading time, tags, cats */
.post-meta {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 960px) {
    display: block;
  }

  .grouped-meta {
    display: flex;

    @media only screen and (max-width: 450px) {
      display: block;
    }
  }
}
.margin-right {
  margin-right: 2rem;
}


/* ERROR 404: */
.error {
  img {
    max-height: 40rem;
  }
}


/* HOMEPAGE: */
  /* Desktop: */
.home-item {
  flex: 1;
  text-align: center;
}

.latest {
  ul {
    margin-top: 0rem;
    list-style: none;
    margin-left: 2rem;
    margin-right: 5rem;

    .latest-title {
      font-style: italic;
      font-size: 0.9em;
      color: $fg-color-opaque;
    }

    span {
      color: $fg-color;
    }

    li {
      #latest-article-title {
        font-size: 1.6em;
      }

      a {
        font-weight: 600;
      }
      p {
        margin-top: -0.2rem;
        margin-bottom: 5rem;
        line-height: 1.4em;
      }
    }
  }
}

  /* Tablet: */
@media only screen and (min-width: 450.1px) and (max-width: 960px) {
  .home-box {
    flex-direction: column;
    align-items: center;
  }

  .home-item {
    flex: 1;
    margin-top: 12rem;
    margin-bottom: 0;
    align-items: center;
  }

  .latest {
    flex: 0.8;
    margin-top: 0;
    display: flex;
    margin-bottom: 14rem;
    padding-top: 2rem;

    div {
      flex: 1;
    }
    ul {
      li {
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

  /* Mobile: */
@media only screen and (max-width: 450px) {
  .home-box {
    flex-direction: column;
  }

  .home-item {
    margin-top: 4rem;
  }
  .latest {
    margin-top: 6rem;
    margin-bottom: 2rem;

    div {
      width: 80%;
      margin: auto;
    }
    ul {
      margin: auto;

      .latest-title {
        margin-right: 40px;
      }
      li {
        margin-left: -40px;

        p {
          margin-bottom: 3rem;
        }
      }
    }
  }
}