{{ define "title" }}
  {{- if eq .Kind "term" -}}
    {{- i18n .Data.Singular | title -}}
    {{- print ": " -}}
  {{- end -}}

  {{- .Title }} · {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
  <section class="container page">
    <article>
      <header>
        <h1 class="title">
          <a class="title-link" href="{{ .Permalink | safeURL }}">
            {{ .Title }}
          </a>
        </h1>
      </header>

      <!-- Presentation in MD -->
      {{ .Content }}
      <!-- End -->
      
      <!-- Social list of buttons -->
      {{ with .Site.Params.social }}
      <ul class="social-container">
        {{ range sort . "weight" }}
          <li class="social-box">
            <div>
              <div class="social-icon">
                <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
                  <i class="{{ .icon }}" aria-hidden="true"></i>
                </a>
              </div>
              <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
                <h5>{{ .user }}</h5>
              </a>
              <h6>{{ .description }}</h6>
            </div>
          </li>
        {{ end }}
      </ul>
      {{ end }}
      <!-- End -->

    </article>
  </section>
{{ end }}
