{{ define "title" }}
  {{- if eq .Kind "term" -}}
    {{- i18n .Data.Singular | title -}}
    {{- print ": " -}}
  {{- end -}}

  {{- .Title }} · {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
  <div class="container page centered">
    <div class="success-page">
      <img src="/images/illustrations/rocket_yellow.svg/" alt="Rocket launch!!!"/>
      <h1 class="title">{{ .Title }}</h1>
      <h4>{{ .Content }}</h4>
      <a href="{{ .Site.BaseURL | relLangURL }}">{{ i18n "email_back_home" }}</a>
    </div>
  </div>
{{ end }}
