{{ define "title" }}
  {{- if eq .Kind "term" -}}
    {{- i18n .Data.Singular | title -}}
    {{- print ": " -}}
  {{- end -}}

  {{- .Title }} · {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
  <section class="container page">
    <article>
      <header>
        <h1 class="title">
          <a class="title-link" href="{{ .Permalink | safeURL }}">
            {{ .Title }}
          </a>
        </h1>
      </header>

      <!-- "Reading Now" books -->
      <div class="book-block title-special">
        <h2>{{ i18n "readingnow_books" }}</h2>
        <ul>
          {{ range $.Site.Data.books.reading_now }}
            {{ $index := printf "title_%s" $.Site.Language.Lang }}
            {{ $value := index . $index }}
            <li><a href="{{ .link }}" title='{{ i18n "look_at" }} &#34;{{ $value }}&#34; {{ i18n "on" }} Amazon' target="_blank" rel="nofollow noopener">{{ truncate 40 $value }}</a>, by {{ .author }}</li>
          {{ end }}
        </ul>
      </div>

      <h2 class="title">
          {{ i18n "favorite_books" }}
      </h2>

      <!-- Images about Favorite books -->
      <div class='favorite-book-container'>
        <div class="bookcover">
          <img src='/images/books/fav_book_1_cover.jpg' alt="favorite book #1 cover">
          <div class="layer-bookcover">
            <div class="text-bookcover">
              <p id="name">{{ i18n "fav_book_1" }}</p>
              <p id="writer">James Clear</p>
            </div>
          </div>
        </div>

        <div class="bookcover">
          <img src='/images/books/fav_book_2_cover.jpg' alt="favorite book #2 cover">
          <div class="layer-bookcover">
            <div class="text-bookcover">
              <p id="name">{{ i18n "fav_book_2" }}</p>
              <p id="writer">Phil Knight</p>
            </div>
          </div>
        </div>

        <div class="bookcover">
          <img src='/images/books/fav_book_3_cover.jpg' alt="favorite book #3 cover">
          <div class="layer-bookcover">
            <div class="text-bookcover">
              <p id="name">{{ i18n "fav_book_3" }}</p>
              <p id="writer">Arthur C. Clarke</p>
            </div>
          </div>
        </div>
      </div>

      {{ .Content }}

      <!-- Books division -->
      <div class="book-block">
        <!-- Cat 1 - Self Improvement -->
        <h3>{{ i18n "cat_self_improvement" }}</h3>
        <ul class="book-list">
          {{ range $.Site.Data.books.self_improvement }}
            {{ $index := printf "title_%s" $.Site.Language.Lang }}
            {{ $value := index . $index }}
            <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}" title='{{ i18n "look_at" }} &#34;{{ $value }}&#34; {{ i18n "on" }} Amazon' target="_blank" rel="nofollow noopener">{{ truncate 40 $value }}</a>, by {{ .author }}</li>
          {{ end }}
        </ul>

        <!-- Cat 2 - Technology -->
        <h3>{{ i18n "cat_tech" }}</h3>
        <ul class="book-list">
          {{ range $.Site.Data.books.tech }}
            {{ $index := printf "title_%s" $.Site.Language.Lang }}
            {{ $value := index . $index }}
            <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}" title='{{ i18n "look_at" }} &#34;{{ $value }}&#34; {{ i18n "on" }} Amazon' target="_blank" rel="nofollow noopener">{{ truncate 40 $value }}</a>, by {{ .author }}</li>
          {{ end }}
        </ul>

        <!-- Cat 3 - Business -->
        <h3>BUSINESS</h3>
        <ul class="book-list">
          {{ range $.Site.Data.books.business }}
            {{ $index := printf "title_%s" $.Site.Language.Lang }}
            {{ $value := index . $index }}
            <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}" title='{{ i18n "look_at" }} &#34;{{ $value }}&#34; {{ i18n "on" }} Amazon' target="_blank" rel="nofollow noopener">{{ truncate 40 $value }}</a>, by {{ .author }}</li>
          {{ end }}
        </ul>

        <!-- Cat 4 - Biographies -->
        <h3>{{ i18n "cat_biographies" }}</h3>
        <ul class="book-list">
          {{ range $.Site.Data.books.biographies }}
            {{ $index := printf "title_%s" $.Site.Language.Lang }}
            {{ $value := index . $index }}
            <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}" title='{{ i18n "look_at" }} &#34;{{ $value }}&#34; {{ i18n "on" }} Amazon' target="_blank" rel="nofollow noopener">{{ truncate 40 $value }}</a>, by {{ .author }}</li>
          {{ end }}
        </ul>
        
        <!-- Cat 5 - Fiction -->
        <h3>{{ i18n "cat_fiction" }}</h3>
        <ul class="book-list">
          {{ range $.Site.Data.books.fiction }}
            {{ $index := printf "title_%s" $.Site.Language.Lang }}
            {{ $value := index . $index }}
            <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}" title='{{ i18n "look_at" }} &#34;{{ $value }}&#34; {{ i18n "on" }} Amazon' target="_blank" rel="nofollow noopener">{{ truncate 40 $value }}</a>, by {{ .author }}</li>
          {{ end }}
        </ul>

        <!-- Cat 6 - Philosophy -->
        <h3>{{ i18n "cat_philosophy" }}</h3>
        <ul class="book-list">
          {{ range $.Site.Data.books.philosophy }}
            {{ $index := printf "title_%s" $.Site.Language.Lang }}
            {{ $value := index . $index }}
            <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}" title='{{ i18n "look_at" }} &#34;{{ $value }}&#34; {{ i18n "on" }} Amazon' target="_blank" rel="nofollow noopener">{{ truncate 40 $value }}</a>, by {{ .author }}</li>
          {{ end }}
        </ul>

        <!-- Cat 7 - Other -->
        <h3>{{ i18n "cat_other" }}</h3>
        <ul class="book-list">
          {{ range $.Site.Data.books.other }}
            {{ $index := printf "title_%s" $.Site.Language.Lang }}
            {{ $value := index . $index }}
            <li{{ if .must }} class="must" {{ end }}><a href="{{ .link }}" title='{{ i18n "look_at" }} &#34;{{ $value }}&#34; {{ i18n "on" }} Amazon' target="_blank" rel="nofollow noopener">{{ truncate 40 $value }}</a>, by {{ .author }}</li>
          {{ end }}
        </ul>
      </div>

    </article>
  </section>
{{ end }}
